.headeroffset {
    height: 1rem;
    width: 100%;
}

/* .wall-header {
    display: flex;
    justify-content: space-between;
    height: 51px;
    .leftmenu {

    }
    .rightmenu {
        display: flex;
        
    }
} */

.wall-header {
    height: 51px;
    width: 93%;
    margin: auto;
    
}



.horizonalmenubar::-webkit-scrollbar {
    display: none; /* ซ่อนแถบเลื่อน */
    scrollbar-width: none; 
  }

.resultandfilter {
    width: 93%;
    margin: auto;
}

.filter-button {
    background: white;
    border-radius: 30px;
    border: 1px #e5e5e5 solid;
    width: 25%;

    
}

.filter-button:hover {
    border: 1px black solid;
 }

 .leftmenubox {
    width: 18%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: end;
    position: relative;

    .leftmenulist {
        width: 80%;
        height: 100%;
        

        .accordionmenu {

            margin-top: 2rem;
            width: 90%;
            

            div {
                border-top: 1px #e5e5e5 solid;
                padding-top: 1rem;
            }
        }
    }
 }

 